---
layout: default
title: About me
---

{% assign shownewsitems = false %}

<!-- <p style="font-size:130%; line-height: 120%;"> -->
<div class="feature-grid">
  <div class="feature">
    <!-- <span class="image rounded"><img src="images/copyrighted/dv/P1000701-3.jpg" alt="" style="max-width: 100%; max-width: 150px;"/></span> -->
    I am research group leader for
    <a target="_blank" rel="noopener noreferrer" href="https://www.geo.uzh.ch/en/units/h2k/research/mountain-hydrology.html">mountain hydrology</a>
    in the
    <a target="_blank" rel="noopener noreferrer" href="http://www.geo.uzh.ch/en/units/h2k">hydrology and climate unit (H<sub>2</sub>K)</a>
    and "privatdozent" for physical geography and hydrology at the
    <a target="_blank" rel="noopener noreferrer" href="https://www.geo.uzh.ch/en.html">Department of Geography</a>,
    University of Zurich.
    <br>
    <br>
    My main research interest is centred on water in mountain areas, both in the Alps as well as world-wide.
    Within this topic, I try to answer questions concerning water resources, natural hazards and hydrological processes.
    I’m also particularly interested in changes in the Earth system, especially as regards climate and land use as well as demographic and socio-economic developments.
    For the more applied aspects of my research I can draw from extensive industry and field experience in flood estimation, hydraulic engineering and natural hazards assessments.
    <br>
    <br>
    Every now and then I like to take pictures, you will find a few of them around here as well.
  </div>
</div>


{% if shownewsitems == true %}
<h3>Related news items</h3>
<a class="anchor" id="JP"></a>
<ol reversed="">
	{% for item in site.data.publications_newsitems %}
			<li>
				{% if item.new == "Y" %}
					<div class="tooltip">
						<font color="3B6FEF"><i class="fas fa-circle fa-sm"></i></font>
						<span class="tooltiptext">added recently</span>
					</div>
				{% endif %}
				<b>{{ item.authors | replace:'Viviroli D','<u>Viviroli D</u>' }},
				{{ item.date }}.</b>
				{% capture lastchar %}{{ item.title | slice:-1 }}{% endcapture %}
				{% if lastchar == "?" or lastchar == "!" %}
					{{ item.title }}
				{% else %}
					{{ item.title }}.
				{% endif %}
				<i>{{ item.journal }}</i>,
				{% if item.volume == "in press" or item.volume == "accepted" or item.volume == "published online" %}
					{% if item.doi %}
						{{ item.volume }},
						<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
					{% else %}
						{{ item.volume }}.
					{% endif %}
				{% elsif item.special_issue %}
					{{ item.special_issue }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.pages and item.doi %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.volume and item.issue == null and item.pages == null and item.doi %}
					<b>{{ item.volume }}</b>,
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.doi == null %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }}.
				{% elsif item.issue == null and item.doi %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% else %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }}.
				{% endif %}
				{% if showdimensions and item.doi %}
				  <a class="__dimensions_badge_embed__" data-doi="{{ item.doi }}" data-hide-zero-citations="true" data-style="small_rectangle"></a>
					<!-- <a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a> -->
				{% endif %}
				{% if showaltmetric and item.doi %}
					<a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a>
				{% endif %}
				{% if showplumx and item.doi %}
					<a href="https://plu.mx/plum/a/?doi={{ item.doi }}" class="plumx-plum-print-popup"></a>
			  {% endif %}
				{% include publications_pdf_and_notes.html %}
			</li>
	  {% endfor %}
  </ol>
{% endif %}


<!-- </p> -->
